#title {
    background-color: #F1B6AC;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body {
    background-color: #C2D8B9
}
h1 {
    font-family: 'Caveat', cursive;
    font-weight: 600;
    font-size: 4rem;
    line-height: 1.2;
    color: #C2D8B9;
}
h2 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1;
    font-weight: bold;
    margin-bottom: 5px;
}
.nav-item
{
    color: #C2D8B9;
}
.work-image
{
    width: 100%;
    height: auto;
}
.header
{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-shadow: -0.5px -0.5px 0 #49332b, 0.5px -0.5px 0 #49332b, -0.5px 0.5px 0 #49332b, 0.5px 0.5px 0 #49332b;
}
.project-text{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 24px;
    color: #49332b;
}
.text
{
    font-family:  "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #49332b;
}
.portfolio-name
{ font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;

}

.contact-button
{
    background-color: #F1B6AC;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
/*project section*/
.padding
{
    padding-bottom: 10px;
}
#projects{
    text-align: center;
    background-color: #C2D8B9;
    
}
.carousel-item{
    padding: 7% 15%;
}

.project-image{
    width: 65%;
    border-radius: 2%;
    margin: 10px;
}

#footer {
    padding: 5% 15%; 
    text-align: center;
}

.connect-text{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-top: 80px;
    color: #F1B6AC;
}

#contact {
    text-align: center;
    font-size: 24px;
    padding: 5%;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
.social-icon{
    padding: 20px 10px;
}

.enlarged-image{
    width: 330px;
    height: auto;
}
